<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>自定义参数</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>XUIGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>Name</string>
			<key>key</key>
			<string>DeviceName</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIGroupCell</string>
			<key>label</key>
			<string>Device</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUISegmentCell</string>
			<key>label</key>
			<string>Device</string>
			<key>key</key>
			<string>DeviceCategory</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
			<key>validTitles</key>
			<array>
				<string>iPhone</string>
				<string>iPad</string>
				<string>iPod</string>
			</array>
			<key>validValues</key>
			<array>
				<string>iPhone</string>
				<string>iPad</string>
				<string>iPod</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>Type</string>
			<key>key</key>
			<string>ProductType</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>HWModel</string>
			<key>key</key>
			<string>ProductHWModel</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>Model</string>
			<key>key</key>
			<string>ProductModel</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>Region</string>
			<key>key</key>
			<string>RegionInfo</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>Region Code</string>
			<key>key</key>
			<string>RegionCode</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>Serial</string>
			<key>key</key>
			<string>SerialNumber</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>MLB</string>
			<key>key</key>
			<string>MLBSerialNumber</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>ECID</string>
			<key>key</key>
			<string>UniqueChipID</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>Version</string>
			<key>key</key>
			<string>SystemVersion</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>Build</string>
			<key>key</key>
			<string>SystemBuildVersion</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIGroupCell</string>
			<key>label</key>
			<string>Identifying</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>UUID</string>
			<key>key</key>
			<string>UniqueIdentifier</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>UDID</string>
			<key>key</key>
			<string>UniqueDeviceID</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>OpenUDID</string>
			<key>key</key>
			<string>OpenUDID</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>IDID</string>
			<key>key</key>
			<string>InverseDeviceID</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>IDFV</string>
			<key>key</key>
			<string>IdentifierForVendor</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>IAD</string>
			<key>key</key>
			<string>AdvertisingIdentifier</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>IMEI</string>
			<key>key</key>
			<string>InternationalMobileEquipmentIdentity</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>Bluetooth</string>
			<key>key</key>
			<string>BluetoothAddress</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>MAC</string>
			<key>key</key>
			<string>EthernetMacAddress</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>Mobile ID</string>
			<key>key</key>
			<string>CurrentMobileId</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>Subscriber ID</string>
			<key>key</key>
			<string>CurrentSubscriberId</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>ICCID</string>
			<key>key</key>
			<string>ICCID</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>MEID</string>
			<key>key</key>
			<string>MEID</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>IMSI</string>
			<key>key</key>
			<string>IMSI</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIGroupCell</string>
			<key>label</key>
			<string>Network</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>IPv4</string>
			<key>key</key>
			<string>EthernetIPv4Address</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>IPv6</string>
			<key>key</key>
			<string>EthernetIPv6Address</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>BSSID</string>
			<key>key</key>
			<string>EthernetBSSID</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>SSID</string>
			<key>key</key>
			<string>EthernetSSID</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>RSSID</string>
			<key>key</key>
			<string>EthernetRSSID</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIGroupCell</string>
			<key>label</key>
			<string>Carrier</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUISegmentCell</string>
			<key>label</key>
			<string>Network</string>
			<key>key</key>
			<string>NetworkType</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
			<key>validTitles</key>
			<array>
				<string>2G</string>
				<string>3G</string>
				<string>4G</string>
				<string>Wifi</string>
			</array>
			<key>validValues</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>5</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>Carrier 1</string>
			<key>key</key>
			<string>CarrierName</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>Carrier 2</string>
			<key>key</key>
			<string>ServiceString</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>Version</string>
			<key>key</key>
			<string>CarrierVersionString</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>Network</string>
			<key>key</key>
			<string>NetworkCode</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>Country</string>
			<key>key</key>
			<string>CountryCode</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>ISO Country</string>
			<key>key</key>
			<string>ISOCountryCode</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIGroupCell</string>
			<key>label</key>
			<string>Region</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIEditTextCell</string>
			<key>label</key>
			<string>Timezone</string>
			<key>key</key>
			<string>TimezoneName</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIGroupCell</string>
			<key>label</key>
			<string>Battery</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUISegmentCell</string>
			<key>label</key>
			<string>Battery</string>
			<key>key</key>
			<string>DeviceBatteryState</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
			<key>validTitles</key>
			<array>
				<string>Unplugged</string>
				<string>Charging</string>
				<string>Full</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIGroupCell</string>
			<key>label</key>
			<string>Brightness</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUISliderCell</string>
			<key>label</key>
			<string>Brightness</string>
			<key>key</key>
			<string>ScreenBrightness</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
