<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>M.E.W.</string>
	<key>header</key>
	<string>M.E.W.</string>
	<key>subheader</key>
	<string>🐱 Meeeeeeew~ v0.1-3 🐱</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>XUIGroupCell</string>
			<key>label</key>
			<string> </string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUISwitchCell</string>
			<key>label</key>
			<string>启用 M.E.W.</string>
			<key>key</key>
			<string>Enabled</string>
			<key>get</key>
			<string>valueForSpecifier:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
			<key>PostNotification</key>
			<string>com.darwindev.mew.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUILinkCell</string>
			<key>label</key>
			<string>全局配置</string>
			<key>detail</key>
			<string>MEWMergedGlobalController</string>
			<key>path</key>
			<string>MEWMergedGlobalController.plist</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUILinkListCell</string>
			<key>label</key>
			<string>选择目标应用</string>
			<key>key</key>
			<string>ApplicationIdentifierWhiteList</string>
			<key>get</key>
			<string>valueForSpecifier:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
			<key>PostNotification</key>
			<string>com.darwindev.mew.prefsChanged</string>
			<key>default</key>
			<array/>
			<key>detail</key>
			<string>MEWApplicationViewController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIButtonCell</string>
			<key>label</key>
			<string>一键新机</string>
			<key>action</key>
			<string>performButtonAction:</string>
			<key>kwargs</key>
			<array>
				<string>new_device</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIGroupCell</string>
			<key>label</key>
			<string>备份</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIButtonCell</string>
			<key>label</key>
			<string>立即备份</string>
			<key>action</key>
			<string>performButtonAction:</string>
			<key>kwargs</key>
			<array>
				<string>backup_now</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUISwitchCell</string>
			<key>label</key>
			<string>一键新机时备份</string>
			<key>key</key>
			<string>SwitchAutoBackup</string>
			<key>get</key>
			<string>valueForSpecifier:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
			<key>PostNotification</key>
			<string>com.darwindev.mew.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUILinkCell</string>
			<key>label</key>
			<string>从备份恢复</string>
			<key>detail</key>
			<string>MEWBackupViewController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIGroupCell</string>
			<key>label</key>
			<string>功能</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUISwitchCell</string>
			<key>label</key>
			<string>反安装检测</string>
			<key>key</key>
			<string>SwitchFakeApplicationList</string>
			<key>get</key>
			<string>valueForSpecifier:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
			<key>PostNotification</key>
			<string>com.darwindev.mew.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUISwitchCell</string>
			<key>label</key>
			<string>反越狱检测</string>
			<key>key</key>
			<string>SwitchFakeJailbreak</string>
			<key>get</key>
			<string>valueForSpecifier:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
			<key>PostNotification</key>
			<string>com.darwindev.mew.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUISwitchCell</string>
			<key>label</key>
			<string>反设备识别</string>
			<key>key</key>
			<string>SwitchFakeDeviceInfo</string>
			<key>get</key>
			<string>valueForSpecifier:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
			<key>PostNotification</key>
			<string>com.darwindev.mew.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUISwitchCell</string>
			<key>label</key>
			<string>反网络识别</string>
			<key>key</key>
			<string>SwitchFakeNetworkInfo</string>
			<key>get</key>
			<string>valueForSpecifier:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
			<key>PostNotification</key>
			<string>com.darwindev.mew.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIGroupCell</string>
			<key>label</key>
			<string>模拟位置</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUISwitchCell</string>
			<key>label</key>
			<string>启用</string>
			<key>key</key>
			<string>SwitchFakeLocation</string>
			<key>get</key>
			<string>valueForSpecifier:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
			<key>PostNotification</key>
			<string>com.darwindev.mew.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUISwitchCell</string>
			<key>label</key>
			<string>随机位置</string>
			<key>key</key>
			<string>SwitchFakeRandomLocation</string>
			<key>get</key>
			<string>valueForSpecifier:</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
			<key>PostNotification</key>
			<string>com.darwindev.mew.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUILinkListCell</string>
			<key>label</key>
			<string>选择地理位置</string>
			<key>detail</key>
			<string>MEWLocationViewController</string>
			<key>key</key>
			<string>FakeLocationCoordinate2D</string>
			<key>get</key>
			<string>valueForSpecifier:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>default</key>
			<dict/>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
			<key>PostNotification</key>
			<string>com.darwindev.mew.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIGroupCell</string>
			<key>label</key>
			<string>剪贴板</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUISwitchCell</string>
			<key>label</key>
			<string>启用</string>
			<key>key</key>
			<string>SwitchMonitorPasteboard</string>
			<key>get</key>
			<string>valueForSpecifier:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUISwitchCell</string>
			<key>label</key>
			<string>启动时自动清空</string>
			<key>key</key>
			<string>SwitchAutoCleanPasteboard</string>
			<key>get</key>
			<string>valueForSpecifier:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.darwindev.MewApp</string>
			<key>PostNotification</key>
			<string>com.darwindev.mew.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUILinkCell</string>
			<key>label</key>
			<string>监控记录</string>
			<key>detail</key>
			<string>MEWPasteboardViewController</string>
			<key>key</key>
			<string>PasteboardHistory</string>
			<key>get</key>
			<string>valueForSpecifier:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>default</key>
			<array/>
			<key>defaults</key>
			<string>com.darwindev.MewApp.pasteboard</string>
			<key>PostNotification</key>
			<string>com.darwindev.mew.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>© 2017 M.E.W. </string>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIButtonCell</string>
			<key>label</key>
			<string>清理 Safari</string>
			<key>action</key>
			<string>performButtonAction:</string>
			<key>kwargs</key>
			<array>
				<string>clean_safari</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIButtonCell</string>
			<key>label</key>
			<string>清理 Keychain</string>
			<key>action</key>
			<string>performButtonAction:</string>
			<key>kwargs</key>
			<array>
				<string>clean_keychain</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIButtonCell</string>
			<key>label</key>
			<string>重建图标缓存</string>
			<key>action</key>
			<string>performButtonAction:</string>
			<key>kwargs</key>
			<array>
				<string>clean_uicache</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>XUIButtonCell</string>
			<key>label</key>
			<string>重置所有配置</string>
			<key>action</key>
			<string>performButtonAction:</string>
			<key>kwargs</key>
			<array>
				<string>reset_all</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
