<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Enabled</key>
	<true/>
	<key>SwitchFakeApplicationList</key>
	<true/>
	<key>SwitchFakeJailbreak</key>
	<true/>
	<key>SwitchFakeDeviceInfo</key>
	<true/>
	<key>SwitchFakeNetworkInfo</key>
	<true/>
	<key>SwitchFakeLocation</key>
	<true/>
	<key>SwitchFakeRandomLocation</key>
	<false/>
	<key>SwitchAutoBackup</key>
	<string>NO</string>
	<key>ApplicationIdentifierBlackList</key>
	<array>
		<string>com.darwindev.MewApp</string>
		<string>com.apple.AppStore</string>
		<string>com.apple.springboard</string>
		<string>com.apple.backupd</string>
		<string>com.apple.voiced</string>
		<string>com.apple.passd</string>
		<string>com.apple.medialibraryd</string>
		<string>com.apple.itunesstored</string>
		<string>com.apple.assetsd</string>
		<string>com.apple.webinspectord</string>
		<string>com.apple.vsassetd</string>
		<string>com.apple.ASONotification</string>
		<string>com.apple.aggregated</string>
		<string>com.apple.sharingd</string>
		<string>com.apple.EscrowSecurityAlert</string>
		<string>com.apple.managedconfiguration.profiled</string>
		<string>com.apple.mobilesafari</string>
	</array>
	<key>ApplicationIdentifierWhiteList</key>
	<array>
		<string>com.darwindev.MEWTest</string>
		<string>com.saurik.Cydia</string>
		<string>com.apple.Preferences</string>
	</array>
	<key>ReplaceMGCopyAnswer</key>
	<dict>
		<key>screen-dimensions</key>
		<dict>
			<key>main-screen-class</key>
			<integer>5</integer>
			<key>main-screen-height</key>
			<integer>1136</integer>
			<key>main-screen-orientation</key>
			<integer>0</integer>
			<key>main-screen-pitch</key>
			<integer>326</integer>
			<key>main-screen-scale</key>
			<integer>2</integer>
			<key>main-screen-width</key>
			<integer>640</integer>
		</dict>
		<key>ProductType</key>
		<string>iPhone6,2</string>
		<key>SerialNumber</key>
		<string>FFFFFFFFFFFF</string>
		<key>UniqueDeviceID</key>
		<string>ffffffffffffffffffffffffffffffffffffffff</string>
		<key>UserAssignedDeviceName</key>
		<string>FAKEDEVICENAME</string>
		<key>RegionInfo</key>
		<string>CH/A</string>
		<key>RegionCode</key>
		<string>CH</string>
		<key>ModelNumber</key>
		<string>FF000</string>
		<key>BuildVersion</key>
		<string>11D167</string>
		<key>HardwarePlatform</key>
		<string>s5l8950b</string>
		<key>InternationalMobileEquipmentIdentity</key>
		<string>000000000000000</string>
	</dict>
	<key>ReplaceIOKitProperties</key>
	<dict>
		<key>IOPlatformSerialNumber</key>
		<string>FFFFFFFFFFFF</string>
		<key>IOPlatformUUID</key>
		<string>B774693F-FAB3-5BB7-97F0-CDA2296D3028</string>
		<key>serial-number</key>
		<data>Rjc4TUpFOThHMDdWAAAAAAAAAAAAAAAAAAAAAAAAAAA=</data>
		<key>mlb-serial-number</key>
		<data>QzdINDE1MTBQS1JGTTdMQkcAAAAAAAAAAAAAAAAAAAA=</data>
		<key>local-mac-address</key>
		<data>////////</data>
		<key>device-imei</key>
		<data></data>
	</dict>
	<key>PathCheckBypassList</key>
	<array>
		<string>/Applications/Cydia.app</string>
		<string>/Applications/blackra1n.app</string>
		<string>/Applications/blacksn0w.app</string>
		<string>/Applications/greenpois0n.app</string>
		<string>/Applications/limera1n.app</string>
		<string>/Applications/redsn0w.app</string>
		<string>/Applications/iGrimace.app</string>
		<string>/Applications/Absinthe.app</string>
		<string>/Applications/IntelliScreen.app</string>
		<string>/Applications/MxTube.app</string>
		<string>/Applications/SBSettings.app</string>
		<string>/Applications/WinterBoard.app</string>
		<string>/Applications/RockApp.app</string>
		<string>/Applications/Icy.app</string>
		<string>/Applications/iFile.app</string>
		<string>/Applications/NZT.app</string>
		<string>/Applications/MEW.app</string>
		<string>/usr/sbin/sshd</string>
		<string>/usr/libexec/ssh-keysign</string>
		<string>/usr/libexec/sftp-server</string>
		<string>/usr/bin/sshd</string>
		<string>/var/mobile/Applications</string>
		<string>/var/mobile/Applications/</string>
		<string>/var/lib</string>
		<string>/var/lib/</string>
		<string>/var/lib/apt</string>
		<string>/var/cache</string>
		<string>/var/cache/</string>
		<string>/private/var/lib</string>
		<string>/private/var/mobile/iGrimace</string>
		<string>/private/var/mobile/Applications</string>
		<string>/private/var/mobile/Applications/</string>
		<string>/var/root/</string>
		<string>/private/var/lib/cydia</string>
		<string>/private/var/tmp/cydia</string>
		<string>/private/var/stash</string>
		<string>/var/mobile/iGrimace</string>
		<string>/bin/bunzip2</string>
		<string>/bin/bash</string>
		<string>/bin/sh</string>
		<string>/User/Applications</string>
		<string>/User/Applications/</string>
		<string>/etc/clutch_cracked.plist</string>
		<string>/var/root/Documents/Cracked/</string>
		<string>/etc/clutch</string>
		<string>/panguaxe</string>
		<string>/panguaxe.installed</string>
		<string>/xuanyuansword</string>
		<string>/xuanyuansword.installed</string>
		<string>/taig</string>
		<string>/report_3K.plist</string>
		<string>/.pg_inst</string>
		<string>/pguntether</string>
		<string>/.cydia_no_stash</string>
		<string>/Library/MobileSubstrate/MobileSubstrate.dylib</string>
		<string>/Library/MobileSubstrate/DynamicLibraries/MEW.dylib</string>
		<string>/Library/MobileSubstrate/DynamicLibraries/MEW.plist</string>
		<string>/Library/MobileSubstrate</string>
		<string>/System/Library/LaunchDaemons/com.saurik.Cydia.Startup.plist</string>
		<string>/System/Library/LaunchDaemons/com.ikey.bbot.plist</string>
	</array>
	<key>DirectoryCheckBypassList</key>
	<array>
		<string>/var/mobile/Applications</string>
		<string>/var/mobile/Applications/</string>
		<string>/User/Applications</string>
		<string>/User/Applications/</string>
		<string>/Applications</string>
		<string>/Applications/</string>
	</array>
	<key>URLSchemeCheckBypassList</key>
	<array>
		<string>cydia://</string>
		<string>xxt://</string>
		<string>ifile://</string>
	</array>
	<key>ReplaceImagePathList</key>
	<array>
		<string>/System/Library/Frameworks/UIKit.framework/UIKit</string>
		<string>/System/Library/Frameworks/AdSupport.framework/AdSupport</string>
		<string>/usr/lib/system/libsystem_kernel.dylib</string>
		<string>/System/Library/Frameworks/CoreFoundation.framework/CoreFoundation</string>
		<string>/usr/lib/libSystem.B.dylib</string>
	</array>
	<key>ReplaceApplicationIdentifierList</key>
	<array>
		<string>com.saurik.Cydia</string>
		<string>com.touchsprite.ios</string>
		<string>NZT</string>
		<string>com.xxtouch.xxtouch</string>
		<string>org.ioshack.igrimace</string>
	</array>
	<key>ReplaceEnvironmentVariableList</key>
	<array>
		<string>DYLD_INSERT_LIBRARIES</string>
	</array>
	<key>StringSearchBypassList</key>
	<array>
		<string>NZT.app</string>
		<string>MEW.app</string>
		<string>Cydia.app</string>
		<string>MobileSubstrate</string>
		<string>TouchSprite.app</string>
		<string>XXTouch.app</string>
		<string>CydiaSubstrate</string>
	</array>
	<key>DeviceName</key>
	<string>FAKEDEVICENAME</string>
	<key>DeviceCategory</key>
	<string>iPhone</string>
	<key>MachineType</key>
	<string>iPhone6,2</string>
	<key>MachineModel</key>
	<string>N90AP</string>
	<key>SystemName</key>
	<string>iPhone OS</string>
	<key>SystemVersion</key>
	<string>10.2</string>
	<key>SystemBuildVersion</key>
	<string>FFFFFF</string>
	<key>UniqueIdentifier</key>
	<string></string>
	<key>IdentifierForVendor</key>
	<string></string>
	<key>AdvertisingIdentifier</key>
	<string></string>
	<key>InternationalMobileEquipmentIdentity</key>
	<string>000000000000000</string>
	<key>DeviceBatteryState</key>
	<integer>0</integer>
	<key>ScreenBrightness</key>
	<string></string>
	<key>CoordinateRegionLatitudeKey</key>
	<real>39.92</real>
	<key>CoordinateRegionLongitudeKey</key>
	<real>116.46</real>
	<key>NetworkInterfaces</key>
	<dict>
		<key>en0</key>
		<dict>
			<key>ipv4</key>
			<string>127.0.0.1</string>
			<key>ipv6</key>
			<string></string>
			<key>mac</key>
			<data>////////</data>
		</dict>
	</dict>
	<key>NetworkHotspot</key>
	<dict/>
	<key>NetworkType</key>
	<integer>0</integer>
	<key>CarrierName</key>
	<string></string>
	<key>ServiceString</key>
	<string></string>
	<key>NetworkCode</key>
	<string></string>
	<key>CountryCode</key>
	<string></string>
	<key>ISOCountryCode</key>
	<string></string>
</dict>
</plist>
